pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.loganalytics.io/v1/workspaces/53825fbd-cfe9-43ac-8639-a5db7dd2e6b1/query?query=ADFPipelineRun | where RunId =='3d0e6918-0981-40a4-b1ce-ec6430bd5dfb' | extend PackedRecord = pack_all() | summarize Result = make_list(PackedRecord)",
					"method": "GET",
					"headers": {
						"Headers": "Accept: application/json"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://api.loganalytics.io"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Web2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspCustomerInfo]",
						"storedProcedureParameters": {
							"json": {
								"type": "String",
								"value": {
									"value": "@json(replace(string(activity('Web2').output.tables[0].rows),'\\',''))",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"var": {
				"type": "Array"
			},
			"json": {
				"type": "String"
			}
		},
		"annotations": []
	}
}