pipeline/Sequence.json
{
	"name": "Sequence",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "ActivityName",
						"value": "Lookup1"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from SEQUENCEMASTER",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable3",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set variable3",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@AND(equals(variables('superiror'),'NONE'),not(equals(variables('current'),'NONE')))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Web_copy1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Web",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"SubscriptionId": {
													"value": "@pipeline().globalParameters.Subscriptionid",
													"type": "Expression"
												},
												"ResourceGrp": {
													"value": "@pipeline().globalParameters.ResourceGrp",
													"type": "Expression"
												},
												"DataFactoryName": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"PipelineName": {
													"value": "@variables('current')",
													"type": "Expression"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Web",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Web",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"SubscriptionId": {
													"value": "@pipeline().globalParameters.Subscriptionid",
													"type": "Expression"
												},
												"ResourceGrp": {
													"value": "@pipeline().globalParameters.ResourceGrp",
													"type": "Expression"
												},
												"DataFactoryName": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"PipelineName": {
													"value": "@variables('current')",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Set variable4",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Web",
												"dependencyConditions": [
													"Succeeded",
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "runid",
											"value": {
												"value": "@activity('Web').output.pipelineRunId",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Execute Pipeline1_copy1",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Web",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "LoggingPipeline",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"PipelineId": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"Json": {
													"value": "@activity('Web').output",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "current",
								"value": {
									"value": "@item().CURRENT",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "superiror",
								"value": {
									"value": "@item().SUPERIOR",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "next",
								"value": {
									"value": "@item().NEXT",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LoggingPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"Json": {
							"value": "@activity('Lookup1').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"current": {
				"type": "String"
			},
			"superiror": {
				"type": "String"
			},
			"next": {
				"type": "String"
			},
			"runid": {
				"type": "String"
			}
		},
		"annotations": []
	}
}