pipeline/Wait.json
{
	"name": "Wait",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select [key],value  from keyvalue",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable4",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Web1",
				"description": "",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',\n'7f43217e-5dd6-4b9b-8ba6-149b75296777','/resourceGroups/',\n'itsfirsg','/providers/Microsoft.DataFactory/factories/',\npipeline().DataFactory,'/pipelines/',\n'pipeline2','/createRun?api-version=2018-06-01')",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@json(activity('Lookup1').output.value[0].value)",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.core.windows.net"
					}
				}
			}
		],
		"parameters": {
			"param": {
				"type": "int",
				"defaultValue": 2
			}
		},
		"variables": {
			"var": {
				"type": "String"
			}
		},
		"annotations": []
	}
}